body {
    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top, .footer {
    background: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 36px;
}

.logo-text {
    font-size: 24px;
    font-weight: 400;
    color: #F9FAF8;
}

.links, .info-body {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

a, .hero-sub {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.subheader {
    display: flex;
    align-items: center;
    padding: 72px 96px;
    gap: 36px;
}

.hero-main {
    display: flex;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0;
}

.sub-text {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

button {
    display: flex;
    justify-content: center;
    flex-basis: 0;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 16px;
    width: 96px;
}

.joshpic {
    max-height: 240px;
    width: auto;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 36px;
    justify-content: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 24px;
}

.info-body {
    flex-wrap: wrap;
    padding: 12px;
    justify-content: center;
    gap: 48px;
}

.info {
    display: flex;
    flex: 0 0 0;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.info-pic {
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}

.info-desc {
    text-align: center;
    height: 120px;
}